/*************************************************** Modified One_Liner ***************************************************/
/* hide browser tabs */
#tabbrowser-tabs { visibility: collapse !important; }

#nav-bar {
  /* move navbar up */
  margin-top: -30px;
  margin-right: 135px;
  margin-bottom: 0px;
  margin-left: -9px;
}

/*************************************************** SIDEBERY ***************************************************/
#sidebar-header{ display: none }

#sidebar-box {
  min-width: 160px !important;
}

/* make splitter transparent */
#sidebar-splitter {
  border-right: solid #0e0e0e !important;
  padding-left: 4px !important;
}

/************************************************ Hover_text_color ***************************************************/
tooltip{-moz-appearance: none !important; background:#232323 !important; color: #ededed}

/******************************************* Remove_Padding_and_button_fix *************************************************/
#urlbar-container{ padding-block: 0px !important }
.titlebar-buttonbox-container{ -moz-box-align: start !important; }

/*************************************** Remove 1 pixel sized black line *********************************************/
#navigator-toolbox {
  border-bottom: none !important;
}

/*************************************** Shrink toolbar by 1 pixel *********************************************/
#navigator-toolbox{
  --toolbarbutton-inner-padding: 4px;
}
#urlbar-container{
  --urlbar-container-height: 20px !important;
  padding-block: 1px !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton){
  margin: 0px !important;
  padding-block: 0 !important;
}

/*************************************** Remove Right Click Menu Top Settings ****************************************/
#context-navigation,#context-sep-navigation{ display: none !important }